app = "spendro"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile.pocketbase"

[env]
  PORT = "8080"

[[mounts]]
  source = "pb_data"
  destination = "/pb/pb_data"

[[services]]
  internal_port = 8080
  protocol = "tcp"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
